@font-face {
  font-family: Roboto;
  src: url("./assets/Roboto/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100vw;
  height: 100vh;
  background: #121212;
  color: white;
}

table,
th,
td {
  border: 1px solid #404040;
  padding: 10px;
  background-color: #28282833;
}

/* table {
  background: #121212;
} */

.modal {
  position: fixed;
  z-index: 1;
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.editUsers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editUsers input {
  height: 30px;
  outline: none;
}

.editUsers button {
  padding: 5px;
  width: 70px;
  align-self: center;
}

.addUser-btn {
  padding: 5px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}
.addUser-btn:hover {
  background: black;
  color: grey;
}

.alert {
  color: red;
}

.edit-btn,
.del-btn {
  padding: 2px;

  background: skyblue;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 2px;
}

.del-btn {
  background: lightcoral;
}

.del-btn:hover {
  color: lightcoral;
  background: black;
}

.edit-btn:hover {
  color: skyblue;
  background: black;
}

#pageTitle {
  font-size: 3em;
}

.user {
  background-color: #282828;
}
.user:hover {
  background-color: lightgray;
  color: black;
}
